body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    transition: .2s;
}
body.dark {
    background-color: #2d3436;
}
.switch {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    position: relative;
    background-color: #000;
    cursor: pointer;
}
.switch::before,
.switch::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    transition: .3s;
}
.switch::before {
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    z-index: 10;
}
.switch::after {
    content: '\f185';
    font-family: fontawesome;
    color: #F97F51;
    font-size: 30px;
    top: 60%;
    transform: translateY(-50%);
    right: 3px;
}
.switch.active::before {
    left: calc(100% - 40px - 5px);
}
.switch.active::after {
    content: '\f186';
    right: 45%;
    color: #fed330;
}