/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
/* LNB */
.header-wrapper {
    background-color: #e2edf8;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
}
.logo img {
    width: 120px;
}
.lnb-wrapper {
    display: flex;
}
.lnb {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lnb li {
    display: inline-block;
    font-size: 18px;
    transform: translateY(7px);
}
.lnb li::after {
    content: '|';
    margin: 15px;
}
.lnb li:last-child::after {
    content: '';
}
.search-wrapper {
    position: relative;
}
input[type=text] {
    padding: 10px 0 10px 10px;
    font-size: 16px;
    outline: none;
    border: 3px solid royalblue;
    border-radius: 20px;
}
.lnb li:last-child {
    position: relative;
}
.search-wrapper span {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 22px;
}
/* GNB */
.gnb-wrapper {
    background: #272C38;
}
nav {
    background: #272C38;
    width: 1200px;
    margin: auto;
    font-size: 18px;
    height: 50px;
}
.gnb {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.gnb li:not(.gnb li:last-child) {
    text-align: center;
    flex: 1;
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #777;
}
.gnb li:first-child {
    border-left: 1px solid #777;
}
.gnb li:nth-child(4) {
    position: relative;
}
.gnb li:nth-child(4) span {
    background-color: #E9463F;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 15px;
    display: block;
    padding: 7px 10px;
    line-height: 9px;
    text-align: center;
}
.gnb li:nth-child(5) {
    background-color: #2651B5;
}
.gnb li:last-child {
    border-right: 1px solid lightgray;
    width: 50px;
    background-color: #2651B5;
    position: relative;
    border-right: none;
    transition: .3s;
}
.gnb li:last-child.active {
    background-color: #fff;
}
.gnb li > a {
    display: inline-block;
    width: 100%;
    color: #fff;
}
/* Drop Down Menu */
.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.dropdown a {
    display: block;
    border-bottom: 1px solid #333;
}
.dropdown a:hover {
    background-color: lightgray;
}
/* Site Map */
.sitemap-btn {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.sitemap-btn span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: .3s;
}
.sitemap-btn.active span {
    background-color: #000;
}
.sitemap-btn span:nth-child(1) {
    top: 0;
}
.sitemap-btn span:nth-child(2) {
    top: 50%;
}
.sitemap-btn span:nth-child(3) {
    top: 100%;
}
.sitemap-btn.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}
.sitemap-btn.active span:nth-child(2) {
    width: 0;
}
.sitemap-btn.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}
.sitemap-wrapper {
    position: absolute;
    padding: 30px 20px;
    background-color: #fff;
    width: 1200px;
    display: none;
    z-index: 100;
}
.sitemap {
    display: flex;
}
.sitemap div {
    flex: 1;
}
.sitemap div b {
    text-align: left;
    display: block;
}
.sitemap div ul {
    font-weight: 300;
    list-style: none;
    padding: 0;
    margin: 0;
}
.sitemap div ul li {
    margin-top: 10px;
    font-size: 14px;
}
.sitemap div ul li a:hover {
    text-decoration: underline;
}
/* Section */
section {
    overflow: hidden;
}
.slider-wrapper {
    width: 100%;
    height: 785px;
    position: relative;
}
.slider-wrapper div img {
    width: 1920px;
    height: 815px;
    object-fit: cover;
    object-position: center;
}
/* Slick-slider */
.slick-arrow {
    position: absolute;
    z-index: 10;
}
.slick-prev {
    left: 5%;
}
.slick-prev::before {
    font-size: 50px;
    opacity: 1;
}
.slick-next {
    right: 5%;
}
.slick-next::before {
    font-size: 50px;
    opacity: 1;
}
.slick-dots {
    position: absolute;
    bottom: 5%;
}
