@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
    margin: 0;
    background-color: #000;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn {
    text-decoration: none;
    color: transparent;
    font-size: 7em;
    font-weight: 300;
    -webkit-text-stroke: 1px #fff;
    position: relative;
    transition: 0.3s;
}
.btn:before,
.btn:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    opacity: 0;
    -webkit-text-stroke: 1px transparent;
    transition: 0.3s;
}
.btn:hover {
    color: #fff;
}
.btn:hover:before {
    color: rgb(160, 8, 38);
    top: -5px;
    left: 5px;
    opacity: 1;
}
.btn:hover:after {
    color: gold;
    top: -10px;
    left: 10px;

    opacity: 1;
}